In [3]:
#Import Dependencies
import pandas as pd

In [4]:
df = pd.read_csv('REINOLSFBads.csv')
df.head()

,Reporting Starts,Reporting Ends,Ad Name,Ad Delivery,Ad Set Name,Ad Set Budget,Ad Set Budget Type,Results,Result Indicator,Reach,...,Location,Date of Class,Status,CAP,PAX,Fill %,Wait,Rev. Est.,Unnamed: 31,Unnamed: 32
0,2018-05-01,2018-12-29,WFA_Charlotte,not_delivering,WFA_Charlotte (50mi)_Registration Lookalikes,225.0,Lifetime,5.0,actions:offsite_conversion.fb_pixel_complete_r...,8830.0,...,Charlotte REI,6/23/18,Closed,30.0,30.0,100.0,5.0,6790.0,NaN,NaN
1,2018-05-01,2018-12-29,WFA_Medford,not_delivering,WFA_Medford (50mi)_Registration Lookalikes,200.0,Lifetime,3.0,actions:offsite_conversion.fb_pixel_complete_r...,3844.0,...,Medford REI,6/30/18,Closed,30.0,30.0,100.0,4.0,7175.0,NaN,NaN
2,2018-05-01,2018-12-29,Q2_WFA_Columbus,not_delivering,Q2_Classes_Columbus(40mi)_registrations,200.0,Lifetime,2.0,actions:offsite_conversion.fb_pixel_complete_r...,3068.0,...,Columbus-Easton REI,4/28/18,Closed,30.0,30.0,100.0,5.0,6380.0,NaN,NaN
3,2018-05-01,2018-12-29,WFA_Los Angeles,not_delivering,WFA_Los Angeles (50+)_Registration Lookalikes,1000.0,Lifetime,34.0,actions:offsite_conversion.fb_pixel_complete_r...,36104.0,...,Newport Sea Base,6/30/18,Closed,30.0,30.0,100.0,88.0,7230.0,NaN,NaN
4,2018-05-01,2018-12-29,WFA_LAX,not_delivering,WFA_LAX_Registration Lookalikes,1000.0,Lifetime,42.0,actions:offsite_conversion.fb_pixel_complete_r...,48688.0,...,Newport Sea Base,6/30/18,Closed,30.0,30.0,100.0,88.0,7230.0,NaN,NaN

In [5]:
df.to_html('table.html')